*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

body {
  background-color: #242424;
  color: white;
}
.wrapper {
  width: 100%;
  padding: 0 40px;
}

.container {
  display: flex;
  justify-content: center;
  /* margin-top: 10vh; */
}

.header {
  margin-top: 20vh;
  text-align: center;
}

.registration_form {
  border: 1px solid wheat;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(164, 160, 160, 0.2);
}

.text_label {
  display: block;
  text-align: center;
  padding-bottom: 7px;
}

.margin-bottom {
  margin-bottom: 7px;
}

.btn {
  border: solid transparent;
  border-radius: 8px;
  margin-top: 8px;
  width: 20vh;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

input {
  border-radius: 4px;
  border: transparent;
}
.read_mee {
  background: transparent;
  padding-top: 12px;
  margin-left: -40px;
  border: none;
  cursor: pointer;
  color: rgb(210, 210, 210);
  animation: blink 1.7s infinite;
}

/* ************************** Index *************************** */

.index_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_out {
  transition: all 0.3s;
  width: 80px;
  padding: 4px;
  border: solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.btn_out:hover {
  background-color: gray;
}
/* ************************************Index 2 ******************************** */

.app {
  position: relative;
  display: grid;
  align-self: center;
  width: 65%;
  margin: 0 auto;
  grid-template-columns: 5fr 3fr;
  grid-template-areas:
    "left  "
    "left ";
  gap: 2rem;
  transition: all 2s;
}

/* .appIn {
  transition: all 2s;
  z-index: 100;
   opacity: 100; 
}  */

.balance {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 4vh;
}

.balance__date {
  color: #888;
}

.movements {
  grid-area: left;
  background-color: #011211;
  border-radius: 1rem;
  max-height: 388px;
  overflow-y: auto;

  /* box-shadow: inset -10px 0 0 0 #242424; */
}

.movements__row {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #514e4e;
}

.movements__type {
  color: #fff;
  padding: 8px;
  border-radius: 10rem;
  width: 5.5rem;
  text-align: center;
}

.movements__date {
  margin: 0 30px;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #105138, #4b7f1c);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #57051b, #883c3f);
}

.movements__value {
  margin-left: auto;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.operation {
  border-radius: 20px;
  padding: 4vh;
  color: #1d1b1b;
  transition: all 0.3s;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ae904f, #84837f);
}
.operation--transfer:hover {
  background-image: linear-gradient(to top left, #c7972f, #bbbab4);
}

.operation--loan {
  background-image: linear-gradient(to top left, #0e5e40, #5a7b3d);
}
.operation--loan:hover {
  background-image: linear-gradient(to top left, #349773, #84d43e);
}

h2 {
  font-size: 21px;
  font-weight: 500;
  color: #1d1b1b;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  color: #333;
  padding: 4px;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.hint {
  display: flex;
  font-size: 30px;
}
.display {
  display: none;
}
.error {
  color: red;
  font-weight: 100;
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 8px; /*Ширина вертикального скролла*/
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #242424; /* Цвет фона дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов */
  border: 2px solid #f0f0f0; /* Обводка для эффекта отступа */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет при наведении */
}
.description {
  margin-top: 2.5rem;
  text-align: center;
  color: #5f6767;
}

.modal_window {
  display: inline-block;
  border: 0.5px solid wheat;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(164, 160, 160, 0.2);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
